@media(max-width: 767px){
    body {
        width: 100%;
        max-width: 100%;
      }

    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header{
        background-image: url(img/stars/mobile_star.svg), url(img/stars/Star\ 2.svg), url(img/stars/Star\ 3.svg), url(img/stars/Star\ 4.svg), url(img/stars/Star\ 5.svg);
        background-position: 100% 0,
        4vw 94px, 
        10.8vw 69px,
        70.3vw 568px,
        65.8vw 538px;
        background-repeat: no-repeat;
    }

    .header__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-top: 147px;
        padding-bottom: 182px;
    }
    
    .header__title{
        max-width: 262px;
        font-size: 1.67rem;
        text-align: center;
    }

    .header__subtitle{
        font-size: 0.67rem;
        text-align:center;
        width: 296px;
    }

    .main{
        padding-top: 48px;

        &-title{
            font-size: 1.67rem;
            padding-bottom: 0;
        }
    }

    .about{
        display: none;
    }

    .mini-games{
        align-items: center;
        padding-bottom: 48px;
    }

    .mini-games__card{
        background-color: white;
        border-radius: 30px;
        max-width: 343px;
        flex-direction: column;
        height: max-content;
        padding: 0;

        &__content{
            max-width: 284px;
        }

        & img{
            max-width: 343px;
            max-height: 284px;
        }
        &:nth-child(2n){
            flex-direction: column;
        }
    }

    .mini-games__content{
        display: flex;
        flex-direction: column;
        padding: 30px;

        & h3{
            font-size: 1.33rem;
        }

        & p{
            font-size: 0.67rem;
            max-width: 285px;
        }
    }

    .standart-button{
        font-size: 0.67rem;
        width: 285px;
        height: 55px;
    }

    footer h3{
        font-size: 0.67rem;
    }
}