* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
  display: flex;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-image: url(img/stars/star_group.svg), url(img/stars/Star\ 2.svg), url(img/stars/Star\ 3.svg), url(img/stars/Star\ 4.svg), url(img/stars/Star\ 5.svg);
  background-position: 53vw -333px, 4vw 94px, 10.8vw 69px, 70.3vw 568px, 65.8vw 538px;
  background-repeat: no-repeat;
}
.header__box {
  padding-top: 196px;
  width: 769px;
}
.header__tittle {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 24px;
}
.header__subtittle {
  font-size: 24px;
  padding-bottom: 48px;
}
.header__subtittle span {
  font-weight: 600;
}
.header__topics {
  display: flex;
  height: 90px;
  background-color: rgb(188, 236, 48);
  position: absolute;
  bottom: 0;
  align-items: center;
}
.header__topic {
  display: inline;
  font-weight: 700;
  font-size: 30px;
  padding-right: 51px;
  white-space: nowrap;
}
.header__topic:not(:first-child) {
  background-position: 0% 50%;
  padding-left: 87px;
  background-image: url(img/Star.svg);
  background-repeat: no-repeat;
  right: 0;
}

.standart-button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: black;
}
.standart-button:hover {
  color: black;
  background-color: #fff;
  transition-duration: 0.3s;
}

.main {
  background-color: rgb(32, 32, 39);
  padding-top: 94px;
}
.main-tittle {
  color: white;
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 24px;
}
.main-subtittle {
  width: 788px;
  line-height: 32px;
  font-size: 24px;
  color: white;
  white-space: inherit;
  padding-bottom: 72px;
}

.about {
  margin-bottom: 96px;
  background-image: url(img/stars/Star\ 1.svg), url(img/stars/Star\ 11.svg), url(img/stars/Star\ 12.svg);
  background-repeat: no-repeat;
  background-position: 68vw 0px, 1.7vw 770px, 2.8vw 822px;
}
.about__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.about-card {
  grid-column: span 4;
  background-color: white;
  border-radius: 30px;
}
.about-card img {
  max-width: 378px;
  height: 314px;
}
.about-card:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
}
.about-card__content {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 36px 32px;
  gap: 16px;
}
.about-card__content p {
  color: black;
  background-color: rgb(247, 247, 247);
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  border-radius: 53px;
  padding: 8px 16px 10px 16px;
}
.about-card__content h3 {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.img {
  width: ma;
  border-radius: 30px;
}
.img_purp {
  background-color: rgb(173, 97, 255);
}
.img_orange {
  background-color: rgb(253, 173, 0);
}
.img_blue {
  background-color: rgb(86, 94, 239);
}
.img_dark {
  background-color: rgb(39, 26, 88);
}
.img_green {
  background-color: rgb(153, 209, 0);
}

.game-select {
  background-image: url(img/stars/Star\ 6.svg), url(img/stars/Star\ 7.svg), url(img/stars/Star\ 8.svg), url(img/stars/Star\ 10.svg);
  background-repeat: no-repeat;
  background-position: 91vw 80px, 88.7vw 47px, right 52px bottom 65px, right 150px bottom 45px;
}

.mini-games {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 144px;
  margin-top: 48px;
}
.mini-games img {
  width: 600px;
  height: 500px;
}
.mini-games__card {
  display: flex;
  height: 500px;
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  flex-direction: row-reverse;
}
.mini-games__card:nth-child(2n) {
  flex-direction: row;
  justify-content: space-between;
}
.mini-games__content {
  padding: 48px;
  width: 457px;
}
.mini-games__content h3 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
  color: black;
}
.mini-games__content p {
  font-size: 24px;
  width: 457px;
  padding-bottom: 36px;
  color: black;
}

footer {
  display: flex;
  height: 150px;
  background-color: rgb(189, 237, 53);
  justify-content: center;
  align-items: center;
}
footer h3 {
  font-size: 24px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */